
.form {
  width: 600px;
  .form-input {
    margin-bottom: 20px;
    display: block;
  }
  
  .gender-radio {
    display: block;
  }
  
  .submitBtn {
    display: block;
    margin-top: 40px;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}