.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(9, 7, 19);
  height: 60px;

  a {
    margin: 10px 25px;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
}