@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

* {
  margin: 0 0;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #fcfced;
}

.active {
  text-decoration: underline !important;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
}

.filter-board {
  height: 80px;
  background-color: bisque;
  display: flex;
  align-items: center;
}

.search-wrapper {
  display: flex;
  margin-left: auto;
  background-color: rgb(231, 231, 231);
  height: 40px;
  width: 150px;
}

.cards {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}